<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Random Routing</title>
    <link rel="stylesheet" href="{% static 'nice/css/style.css' %}">
</head>
<body>
    <h3>Your random image of the day:</h3>
    <div id="image-box">
    {% if landscape == "snow" %}
        <img src="{% static 'nice/img/snow.jpg' %}" alt="landscape picture">
    {% endif %}
    {% if landscape == "desert" %}
        <img src="{% static 'nice/img/desert.jpg' %}" alt="landscape picture">
    {% endif %}
    {% if landscape == "forest" %}
        <img src="{% static 'nice/img/forest.jpg' %}" alt="landscape picture">
    {% endif %}
    {% if landscape == "vineyard" %}
        <img src="{% static 'nice/img/vineyard.jpg' %}" alt="landscape picture">
    {% endif %}
    {% if landscape == "tropical" %}
        <img src="{% static 'nice/img/tropic.jpg' %}" alt="landscape picture">
    {% endif %}
    </div>
</body>
</html>